.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/@aws-sdk/**
docs/**
README-GITHUB.md
CONTRIBUTING.md
Assistant.png
.git/**
*.vsix
website-deploy/**